{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}

<div class="row justify-content-center mx-md-5">
    <div class="d-block bg-light text-center col-lg-6 rounded-3 m-md-5 p-3 shadow-lg">
    <h1 >Welcome</h1>
    <p>Welcome to our stocks app</p>
    <div class="flex-row">
        <a class="btn btn-dark m-2" href="{{ url_for('auth.login') }}">Login</a>
        <a class="btn btn-outline-dark m-2" href="{{ url_for('auth.register') }}">Register</a>
    </div>
</div>
</div>
{% endblock %}
