{% extends "base.html" %}
{% set active_page = "profile" %}

{% block navbar %} {% include 'includes/navbar_auth.html' %} {% endblock %}
{% block content %}
<div class="full-window">
    <div class="d-block bg-light text-center  m-5 p-3">
        <h1>Your profile</h1>
        <p></p>
        <div class="">
            <div class="row">
                Logged in as: {{ user.username }}<strong>{{session.name}} | <a href="{{ url_for('auth.login') }}"> Logout</a>
            </div>
            <br><br>
            <div class="row">
        
                <h2>Welcome to the user profile page...</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}