{% extends "base.html" %}
{% block navbar %} {% include 'includes/navbar_auth.html' %} {% endblock %}
{% block content %}
<div class="full-window">
  <div class="d-block bg-light text-center  m-10 p-3">
    <h1>Stock details</h1>
  </div>
  <div class="" style="float: left;">
    <form action="/stocks_graph/">
      <p>Please select your stock:</p>
      <input type="radio" id="stock1" name="stock" value="TSLA">
      <label for="stock1">Tesla</label><br>
      <input type="radio" id="stock2" name="stock" value="AMZN">
      <label for="stock2">Amazon</label><br>
      <input type="radio" id="stock3" name="stock" value="GOOG">
      <label for="stock3">Google</label><br><br>
      <input type="submit" value="Submit">
    </form>

  </div>
  <div style="float: right;">
    <canvas id="myChart" width="1200" height="400"></canvas>
  </div>
</div>
</div>
<script type="text/javascript">
  var dates = JSON.parse('{{ dates|safe }}');
  var prices = JSON.parse('{{ prices|safe }}');
  var stock = '{{ stock }}'
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/graphs.js') }}"></script>


{% endblock %}