{% extends "base.html" %}

{% block content %}
    <h1>Stocks</h1>
    <p>Stocks page</p>
    {#{ news_data }#}

    {% for article in articles %}
    <h2>Title: {{ article.title }}</h2>
    <h3>Author: {{ article.author }}</h3>
    {% if article.image %}
    <img class="img-flex article-img" src="{{ article.image }}" alt="{{article.title}}">
{% else %}
    <p class="text-secondary">No image available</p>
{% endif %}
    <h4>Source: {{ article.source }}</h4>
    <h5>Language: {{ article.language }}</h5>
    <p>Description: {{ article.description}}</p>
    <a href="{{ article.url }}">Read more...</a>
    <br>

        <p>{{ article.published_at }}</p>
    <p>{{ article.content }}</p>
    <hr
    {% endfor %}

{% endblock %}