* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
    /* background-color: #dfb6396b !important; */
    background-repeat: none;
}

nav {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

canvas {
    background-color: rgb(248, 249, 250);
}

.main-image {
    background-image: url("../assets/image (1).png");
    z-index: -100;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(117, 105, 73, 0.625); /* Background colour with opacity */
    z-index: -99; /* Specify a stack order*/
    cursor: pointer; /* Add a pointer on hover */
  }

.footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    padding: 0 10px;
    width: 100%;
}

.article-img {
    height: 20vw;
}

.logo {
    height: 50px;
}

.contributor-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    border-radius: 50%;
}

.form-group {
    margin-bottom: 10px;
}

.submit-button {
    margin-top: 10px;
    
}

.back-ground-image {
    /* background-image: url("../assets/image (1).png"); */
    /* width: 100vw; */
    /* height: 100vh;
    margin: 0 !important;
    margin-left: 0px; */
}

.stock-graph-select {
    text-align: left;
}

.link-button {
    text-decoration: none;
    font-weight: bold;
    color:rgb(232, 148, 12)
}