* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    /* font-family: 'Roboto', sans-serif !important; */
    margin-bottom: 0px;
    /* background-color: #dfb6396b !important; */
    background-repeat: none;
}

nav {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Canvas for the stocks graphs */
canvas {
    background-color: rgb(248, 249, 250);
}

/* Main background image */
.main-image {
    background-image: url("../assets/image (1).png");
    z-index: -100;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(117, 105, 73, 0.625); /* Background colour with opacity */
    z-index: -99; /* Specify a stack order*/
    cursor: pointer; /* Add a pointer on hover */
  }

/* Fixed footer */
.footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    padding: 0 10px;
    width: 100%;
}

/* Image for the news articles */
.article-img {
    height: 20vw;
}

.logo {
    height: 50px;
}

/* Github links in the footer */
.contributor-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    border-radius: 50%;
}

.form-group {
    margin-bottom: 10px;
}

.submit-button {
    margin-top: 10px;
    
}

.stock-graph-select {
    text-align: left;
}

/* Change style for the links */
.link-button {
    text-decoration: none;
    font-weight: bold;
    color:rgb(195, 136, 41)
}

/* -- from https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip-css {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
.tooltip-css .tooltiptext-css {
    visibility: hidden;
    width: 100px;
    background-color: #6c757d;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 4px;

    /* Position the tooltip text - see examples below! */
    top: -5px;
    left: 105%;
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip-css:hover .tooltiptext-css{
    visibility: visible;
  }

 .fa-trash {
  color: #c38728;
}

.fa-trash:hover {
  color: #ce2727;
}

.fa-long-arrow-alt-down {
    color: #e85353;
}


.fa-long-arrow-alt-up {
    color: #67e853;
}